[2017-08-14 14:44] matt-chan opened #1 "API Changes"
Deprecations:
- LockedH5 and the internal H5 file format have been removed.

Parameters:
- The vasp ``dump_poscar`` routine now requires ``data`` to contain an attribute ``cell_frac`` which contains the return value of the cell.to_frac function.

Return values:
- The ``obasis`` attribute no longer contains an instance of obasis. Rather it contains a dict of all elements necessary to instantiate GO

[2017-08-16 15:09] FarnazH opened #2 "Change ordering of basis functions within shells"

[2017-08-17 09:46] tovrstra commented on #2
Can you elaborate?

[2017-08-17 13:49] FarnazH commented on #2
@matt-chan added this, so I don't know exactly what he had in mind.

[2017-08-17 18:49] matt-chan commented on #2
Sorry, this what what I typed yesterday in the office.

We need to change the ordering of functions within shells > p so that
results are consistent with PySCF/LibInt C++, etc. I know how to do most of
it, so it's just a reminder for myself.

I think there's a ticket that exists for this within the old repo, but it
didn't get carried over to the new one.

Matt

On Thu, 17 Aug 2017 at 15:50 Farnaz

[2017-08-17 21:35] tovrstra commented on #2
OK. This is the issue with all the detail: theochem/horton#87 The main conclusion is that the ordering of the pure functions (D and up) needs to be changed to be consistent with PySCF, Psi4 and NWChem. See e.g. https://en.wikipedia.org/wiki/Table_of_spherical_harmonics#Real_spherical_harmonics.

[2017-08-18 06:58] tovrstra opened #4 "Update unit conversion constants"
We should update our units to be complete and up-to-date with the latest NIST values: https://physics.nist.gov/cgi-bin/cuu/Category?view=html&Non-SI+units.x=87&Non-SI+units.y=16

It could also be interesting to study how others deal with unit conversion. However, most of these seem to be overkill, compared to the approach in iodata:
* https://github.com/hgrecco/pint
* https://github.com/pandegroup

[2017-08-18 06:59] tovrstra commented on #4
Also, iodata only uses a small part of the units module from HORTON. We should probably have a simple units module (separate repo) to be used in glue code.

[2017-08-18 09:32] tovrstra opened #5 "Provide input to MolSSI/QC_JSON_Schema, such that it works well for us"
@matt-chan Ideally, our package should be able to write out a JSON file that is compatible with [MolSSI/QC_JSON_Schema](https://github.com/MolSSI/QC_JSON_Schema), with as much as possible data that we typically get from various file formats. We should either open issues are make changes to iodata.

[2017-08-18 09:44] tovrstra opened #6 "Every file format should become a module with consistent function & attribute names"
We should remove all file-format specific information and code in [iodata/iodata.py](../../blob/master/iodata/iodata.py) because it is fragile. In the documentation of the file formats, [doc/tech_ref_file_formats.rst](https://github.com/theochem/horton/blob/master/doc/tech_ref_file_formats.rst), there is an even worse duplication of information, which is hard to maintain.

These issues can be solv

[2017-08-18 09:46] tovrstra opened #7 "Add API to load trajectories or databases, one molecule at a time"
Typical examples are XYZ files (e.g. for MD trajectories) or SDF files (databases of molecules). For both formats, it is desirable to have an iterator over the repeated items (usually molecules), without reading the entire file at once into memory.

[2017-08-18 09:48] tovrstra commented on #6
The only piece of information that we still have to maintain at a global level is a dictionary of (`name`, `human-readable meaning`) pairs. At the moment, this information sits in a docstring in [iodata/iodata.py](../../blob/master/iodata/iodata.py). It would be better to have it in a dictionary that can be used to generate documentation.

[2017-08-18 09:58] tovrstra commented on #2
See also MolSSI/QC_JSON_Schema#12

[2017-08-24 03:37] tovrstra opened #9 "Replace seek and tell in molden.py be something less fragile"
See #8

[2017-09-11 01:31] tczorro opened #11 "version.py doesn't exist in iodata"
setup.py read the version number from version.py. So it gives errors

[2017-09-11 07:04] tovrstra commented on #11
The file `version.py` is derived from the output of `git describe --tags` and not stored in the repository. You can do this on your local repo as follows:

https://github.com/theochem/iodata/blob/master/.travis.yml#L100-L102

[2017-09-11 07:10] #11 closed

[2017-09-13 14:26] matt-chan opened #14 "Deploy fails"
@tovrstra have you seen this error before?

Current tag is: 0.1.1
/home/travis/.rvm/gems/ruby-2.2.7/gems/octokit-4.6.2/lib/octokit/client/releases.rb:86:in `initialize': No such file or directory @ rb_sysopen - dist/iodata-0.1.1.tar.gz (Errno::ENOENT)

It only happens on py27 for some weird reason

[2017-09-13 21:41] tovrstra commented on #14
No, I would guess the source release is not created. Can you paste the link to the travis build?

[2017-09-14 08:43] matt-chan commented on #14
Sure!

https://travis-ci.org/theochem/iodata/jobs/274671077

[2017-09-18 11:36] tovrstra commented on #14
@matt-chan I guess this is solved, seeing 0.1.2 being released. The problem was that you pushed two tags (0.1.0 and 0.1.1) on the same commit. Part of the build script picks up one and another part picks up the other tag. I'm not sure when on gets priority over the other.

[2017-09-18 11:36] #14 closed

[2018-10-19 05:19] matt-chan opened #17 "Move to pkg_resources"
Forgot to update iodata to pkg_resources. Still using __file__.

Maybe even jump to importlib.resources directly.

[2018-10-26 10:06] tczorro opened #18 "from __future__ import annotations"
"annotations" feature is introduced in py3.7b1. All lower version python would crush

https://www.python.org/dev/peps/pep-0563/

[2018-10-28 15:48] #18 closed

[2018-10-29 12:59] FarnazH opened #21 "Overlap Helper Module"
The `iodata.overlap_helper.py` contains a lot of pre-computed pure/cartesian transformation matrices generated by `horton.tools.harmonics.py`. The `iodata.overlap_helper.py` doesn't seem clear and nice, so I was wondering why we didn't include the functions generating them directly?

[2018-10-29 18:07] matt-chan commented on #21
We should. I put the harmonics.py code into the gbasis repo I think, but I didn't think about the overlap code in IOData.

[2018-10-29 22:28] FarnazH commented on #21
I have been working on `iodata` all day today trying to improve it, and I think its `overlap` code is over-complicated and even out of place to some extent. If I am not wrong, it's only used in the `molden` module to check normalization, so we don't even need the fastest overlap computation. I think we can write something much simpler for `iodata` and have a better/faster implementation in `gbasis

[2018-10-29 22:52] matt-chan commented on #21
Yep, it's only used to check the normalization and normalize if needed. We don't need to have the full overlap matrix implementation in theory.

What did you have in mind?

[2018-11-19 17:59] matt-chan opened #24 "Add orbitals helper"
It's too complicated to make an Orbital instance right now. You need to assign the attributes by hand, which is really clunky. ie

[code]

Instead we should introduce a new parameter, `orb_alpha_params` (or something along those lines) to be fed into Orbitals in the same way we do GBasis (this also requires an API change to Orbitals within meanfield). Then the API becomes something like
[code]

[2018-11-24 08:11] FarnazH commented on #24
@matt-chan, there is no `Orbital` class in `iodata` at this point, is there? I think this is relevant to the other thread regarding `Orbital` package vs. class.

[2018-11-28 01:34] matt-chan commented on #24
Sorry for the delay @FarnazH. No, there's no orbital class right now. But even to instantiate an Orbital instance from meanfield or from another orbital package, it's too clunky I think. We should instead give it all the parameters needed as a dictionary. Right now a developer would need to use the first code-block just to create an orbital instance.

[2018-12-08 12:16] FarnazH opened #25 "Support WFX file format"
Make `wfx.py` module and add `def load(filename: str) -> Dict:` function.
Check http://aim.tkgristmill.com/wfxformat.html

[2019-01-12 05:44] FarnazH commented on #4
Consider using `scipy.constants`.

[2019-01-21 17:08] FarnazH opened #26 "Reaction Trajectory & IRC (Intrinsic Reaction Coordinate)"
Add functionality to load reaction path.
http://gaussian.com/irc/

[2019-01-21 23:10] tovrstra commented on #17
Yes, `importlib` is good.

[2019-01-21 23:17] tovrstra commented on #21
You need the entire overlap matrix to check the normalization of *the orbitals*. We're not (only) checking the normalization of the basis functions.

A better name for this module would be good: `transform_cart_pure.py` or something along those lines.

We could compute the transformation matrices when needed and cached them. The `harmonics.py` in the `tools` directory of HORTON uses Sympy, which s

[2019-01-21 23:21] tovrstra commented on #24
Re-introducing an Orbital class is certainly an option, but it should remain focussed on facilitating IOData, not too many adding computational features. I would suggest to have one class, with possibly two instances, one for alpha and one for beta orbitals. I still need to figure out how to make it the most convenient for chemtools and denspart.

[2019-01-21 23:29] tovrstra opened #27 "Documentation of `dump_poscar` needs to be updated"
The comment on `cell_frac` in the docstring is no longer relevant. (Also issue is #1 contains the same comment, but the code works differently.)

[2019-01-21 23:31] tovrstra opened #28 "Naming of density matrices should be simplified"
Our naming of density matrix attribute in IOData is too verbose. It may be useful to make a distinction between `dm_full_scf`,  `dm_spin_scf`,  `dm_full_post_scf` and  `dm_spin_post_scf`. Anything beyond adds more complication without being useful.

[2019-01-21 23:41] tovrstra commented on #4
Yes, `scipy.constants` is good.

[2019-01-21 23:52] tovrstra opened #29 "Update installation instructions"
The terminology in the install docs is not very clear. A few things to improve:

- "Installation (from source)" should become "Build conda package (from source)". It should also be specified which source: a source release tar file or github clone, or do both work? One line could be added to explain how to install a locally built package. It is worth explaining that this is the safe alternative to

[2019-01-21 23:58] tovrstra commented on #29
P.S. We should probably not try to support anything else than installing the conda binary package.

[2019-01-22 00:01] tovrstra opened #30 "Write Molden files in double precision"
The molden format does not specify how floats should be written. We can write orbital energies, occupation numbers and orbital coefficients in double precision scientific notation `"%.15e"`.

[2019-01-22 00:10] tovrstra opened #32 "Use np.testing when appropriate in unit tests"
When comparing floating point results, `numpy.testing` offers nicer functions than a bare assert. Many of the unit tests should be converted to use `numpy.testing` instead.

[2019-01-22 00:30] #4 closed

[2019-01-22 05:20] matt-chan commented on #29
Yeah, for regular users 100%.

I'm not sure what options to provide for new developers though. It takes a lot of time to build conda packages each time you want to test something.

[2019-01-22 14:36] tovrstra commented on #29
I see. Let me try to get some hands-on experience with this, so I can make some more useful suggestions.

[2019-01-22 18:00] tczorro commented on #17
1. keep get_fn, but replace the implementation with importlib
2. complete remove get_fn and use importlib to handle "data", but return a “str” path
3. change the IO in iodata so it can handle Path file as well.

[2019-01-22 18:24] tovrstra commented on #17
I'm not sure what you mean by `Path file`? I think option 2 is the best one, relatively little work and getting rid of redundant code.

[2019-01-22 18:34] tovrstra commented on #17
Oh I see. Converting it to string in the test (as in Chemtools) seems is fine for now. Future changes will make IOData compatible with Path objects (#6), so no need to worry about it now.

[2019-01-23 01:40] tczorro commented on #17
I just reverted all the necessary update I made, only keeping the parts related to this issue.

[2019-01-23 15:48] FarnazH opened #34 "Setup `codecov`"
We should set up `codecov` to check the number of lines instead of the percentage.

[2019-01-25 13:09] FarnazH commented on #26
Check https://github.com/stvogt/kudi

[2019-01-25 14:58] tovrstra opened #36 "Steal all load functions from tamkin"
See
- https://github.com/molmod/tamkin/tree/master/tamkin/io
- https://github.com/molmod/tamkin/blob/master/tamkin/test/test_io.py
- https://github.com/molmod/tamkin/tree/master/tamkin/data/test

[2019-01-25 15:00] tovrstra opened #37 "Clone all io code from molmod"
See:
- https://github.com/molmod/molmod/tree/master/molmod/io
- https://github.com/molmod/molmod/tree/master/molmod/io/test
- https://github.com/molmod/molmod/tree/master/molmod/data/test

[2019-01-25 15:34] #17 closed

[2019-01-25 15:35] tovrstra commented on #7
Issue #26 is essential the same as this one.

[2019-01-25 15:38] tovrstra opened #38 "Add an internal file format"
We should add an `npz` based format, for compact temporary storage of IOData objects.

[2019-01-25 19:01] tovrstra opened #39 "dump functions for QM input files"
We could use the input spec based on MOLSSI schema

[2019-01-25 19:45] #6 closed

[2019-01-25 22:10] FarnazH opened #41 "Solidify API & Variable Names"
We should make the necessary changes to vague and long variable names... See issue #1

[2019-01-27 16:30] tovrstra opened #42 "Intuitive representation of molecular basis set"
Our current representation of molecular Gaussian basis sets is not ideal:

- not very intuitive
- not very pythonic
- mainly geared toward the FCHK format, but it requires non-intuitive manipulations for all other formats.

The Gaussian orbital basis can be described by a single attribute:

`obasis` of the type `namedtuple('OBasisInfo', ['centers', 'shells', 'type', 'conventions'])`

where:

- `ce

[2019-01-28 00:15] FarnazH commented on #41
#1

[2019-01-28 03:02] FarnazH commented on #42
1. Is there any reason not to use `center` as an attribute in the namedtuple instead of `icenter`? This gives `namedtuple('Shell', ['center', 'type', 'angmoms', 'exponents', 'concoeffs'])` which gives better access to the `shell.center` instead of `centers[shell.icenter]`.

2. I think the last line of code snippet, `ibasis += 1`, should be indented to be included inside the last `for loop`, no?

[2019-01-28 13:38] tovrstra commented on #42
For point 1, it is convenient to group shells by centers with integer indices. I'll fix point 2.

[2019-01-28 13:59] FarnazH commented on #42
See https://github.com/theochem/iodata/blob/master/iodata/wfn.py#L141

[2019-01-28 15:26] tovrstra commented on #24
One `mo` attribute in `IOData` that is flexible enough to handle different cases (restricted, unrestricted, generalized, open-/closed-shells)

`mo` is an instance of type `namedtuple('MolecularOrbitals', ['type', 'energies', 'occupations', 'irrep', 'coefficients'])`

where

- `type` is any of `'generalized'`, '`restricted`', `'unrestricted'`
- `energies` is an array of orbital energies
- `occupati

[2019-01-28 19:15] tovrstra commented on #32
The Numpy docs recommend using `assert_allclose` instead of `assert_almost_equal`. See https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.testing.assert_almost_equal.html

[2019-01-28 19:37] tovrstra commented on #41
I'll make a list of additional name/API changes w.r.t #1:

**Name changes**
- `numbers` -> `atnums`
- `pseudonombers` -> `atecpnums`
- `coordinates` -> `atcoords`
- `polar` -> `...` (dipole-dipole polarizability matrix)
- `cell` -> `cellvecs` (matrix whose rows or cell vectors, shape `(nvec, 3)`
- `ms2` -> `mult`

**Consolidation of ever-growing number of attributes**
- `mulliken_charges`, `npa_ch

[2019-01-28 20:42] tovrstra opened #43 "Infrastructure for making input files for QC codes"
We should have functions to easily write input files for a few quantum chemistry codes of interest (Gaussian, PSI4, ORCA). Suggested API:

[code]

Required attributes for the IOData class are defined in #41.

Some remotely related code can be found here: https://github.com/theochem/horton/blob/master/horton/scripts/atomdb.py

[2019-01-30 13:06] tovrstra commented on #7
Another use case is Reaction Trajectory & IRC (Intrinsic Reaction Coordinate) See https://github.com/stvogt/kudi and http://gaussian.com/irc/

[2019-01-30 13:07] tovrstra commented on #26
I'm closing this one. Further discussion can take place in #7.

[2019-01-30 13:07] #26 closed

[2019-01-30 14:51] FarnazH commented on #28
See Issue https://github.com/theochem/iodata/issues/41

[2019-01-30 15:17] FarnazH commented on #7
Covering trajectory stored in:
- `xyz` file
- `sdf` file
- `log` file

API: `load_trajectory(filename)` returning a list of `IOData`. We need to change the `IOData.load/dump` methods to get a `file_object` and read/dump one chunk.

[2019-02-05 19:11] tovrstra commented on #34
I checked the codecov documentation and could not find a way to achieve this. I'll keep this issue open as a reminder to take a closer look some time.

[2019-02-14 02:07] dgasmith commented on #43
It would be good to join forces on this, we will begin implementing this kind of tech into two of our codes [Elemental](https://github.com/MolSSI/QCElemental) and [Engine](https://github.com/MolSSI/QCEngine). Both of this will produce and consume schema.

So far we haven't focused too much on the increasing the number of codes that we interface too, but as this ecosystem enters beta that will beco

[2019-02-14 06:56] PaulWAyers commented on #32
Or maybe use the Python (not numpy) intrinsic:
math.isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)

Probably clunkier without the "assert" built in....

[2019-02-18 03:57] tovrstra commented on #43
@dgasmith That could be interesting and I have considered it, but we seem to have requirements that are not covered in QCEngine. Anyway, your comments would be very much appreciated.

We're not aiming at fully standardizing the interface to QC chemistry codes. We'd just want something pragmatic to generate input files for various use cases. One requirement, which is going against standardizing, is

[2019-02-18 16:24] dgasmith commented on #43
Generating input files was, granted, not originally not in our purview. However, we have had many requests for this and three of the MolSSI Software fellows have decided to take this on so we have been working to relax this constraint. As this was a decision made about a week ago, progress has been relatively small and we are still working through the best way to accomplish behavior. This is an ar

[2019-03-01 19:57] evohringer commented on #43
I'm thinking what would be the best way to organize the interface to other QC programs compatible with existing iodata structure.

Here are some thoughts:
- To have one class which writes all input files depending on selected QC program and provided template
- To have parser an output log parser for each QC program as e.g. cp2k, gaussian etc
- Wavefunction containing files have their own load and

[2019-03-01 21:24] FarnazH commented on #32
I believe we are switching to `pytest`, so we should use that.

[2019-03-04 10:49] tovrstra commented on #43
The parsers could just use the same API as we already have with the `load`functions for file formats. See e.g. for Gaussian log files https://github.com/theochem/iodata/blob/master/iodata/log.py. (The module name should be renamed for clarity, but that is a separate issue.) For this part, what is being loaded (wavefunctions or other things) does not matter so much, as long as we the quantities to

[2019-03-04 10:49] tovrstra opened #46 "Rename iodata/log.py to iodata/gaussianlog.py"
See title. This is just to avoid ambiguity. Gaussian is not the only program writing log files.

[2019-03-04 12:19] evohringer commented on #43
Thanks for the quick reply. I will write a first version of orca log parser and put all QC input file formats in one file "write_input.py" as functions as you suggested in the beginning.

Once ready I will push the draft versions to get the feedback from all.

[2019-03-04 13:03] evohringer commented on #37
Once the draft version of #43 for orca is ready we can collaborate on transferring the io code from molmod and tamkin.

[2019-03-05 16:06] PaulWAyers commented on #42
I think we were going to change shell ordering in the next version of HORTON? Should we do that now?
https://github.com/theochem/cgbasis/issues/2

[2019-03-05 16:24] tovrstra commented on #42
@PaulWAyers Now would be good.

[2019-03-05 16:28] PaulWAyers commented on #42
Do we know what that convention is? I looked quickly but didn't see it....

[2019-03-05 16:52] tovrstra commented on #42
IOData should not fix this convention. The purpose of this issue is to define how the convention is represented. When implementing Gaussian integrals, you can decide which convention you use, as long as it can be described it with the data structure described here.

[2019-03-05 23:24] kimt33 commented on #42
For implementing gbasis, we need a nice data structure from which we can build the rest of the code. We plan on creating a class for the set of contracted Cartesian Gaussians of the same angular momentum. I know there are plans to come up with some data structure for orbitals here, but we can refactor or make a wrapper around gbasis if necessary.

See https://github.com/theochem/gbasis/issues/2

[2019-03-06 02:18] PaulWAyers commented on #42
I think the idea will be that flexible basis sets are allowed in iodata, and that iodata can convert from one basis-set representation to another. As such, one thing iodata could do is build whatever basis-set representation gbasis uses, or pass to gbasis the data so that gbasis porcelain can build its own representation. In terms of modularity, probably the latter is a bit better..but I'm not sur

[2019-03-06 08:15] tovrstra commented on #42
@PaulWAyers I fully agree. I would go for the second option, where gbasis knows how to interpret a a namedtuple from iodata.

[2019-03-12 03:20] fwmeng88 commented on #36
I am working this issue by starting with CHARMM file format, https://github.com/molmod/tamkin/blob/a15141745c90abbe8dadb1394f538e30a3523d48/tamkin/io/charmm.py#L51-L138. I am wondering if you can help with some questions regarding CHARMM file format.
1. Should the load functions be dependent or independent of tamkin? I think tamkin is built with Python 2 where we run over some exceptions errors wh

[2019-03-12 08:25] PaulWAyers commented on #36
It's my impression that the goal is to steal the wavefunction-loading capabilities of tamkin.  Tamkin should not be a dependence (just rewrite clean Python 3 code using tamkin code as a starting point); and I would not have started with CHARMM, which I think is probably not the point at all of this issue, since HORTON is a wavefunction method and I am do not think CHARMM has wavefunction informati

[2019-03-12 09:37] #46 closed

[2019-03-12 10:32] FarnazH commented on #36
I think it would be good to start with something simpler like `qchem.py`.

As @PaulWAyers mentioned, the code you port shouldn't add any extra dependency. I also think any information in the output files are worth extracting, as `iodata` is a parsing module in some sense.  I'll leave specific questionss regarding `CHARMM` to @tovrstra.

[2019-03-12 14:57] fwmeng88 commented on #37
Dear Esteban, thank you for work on #43 . Shall we split the tasks of IO functions stolen from `tamkin` and `molmod` to avoid duplicate efforts, please? Except what has been implemented in `iodata`, `cpmd.py` and `gamess.py` both appeared in IO module in `tamkin` and `molmod`.

[2019-03-14 06:08] fwmeng88 commented on #36
In order to fix the extra dependency problem, I was trying to steal codes from `tamkin` and `molmod`.

The problem I have right now I don't know do we need `tamkin.data.Molecule` for  `qchem.py` in `iodata`, https://github.com/molmod/tamkin/blob/a15141745c90abbe8dadb1394f538e30a3523d48/tamkin/io/qchem.py#L162. The original code for `Molcule` module can be found at https://github.com/molmod/tamkin/

[2019-03-14 06:21] fwmeng88 commented on #37
Dear Esteban, I am trying to fix the dependency problem for codes taken from `tamkin`, which is mostly about stealing some codes from `molmod`, https://github.com/theochem/iodata/issues/36#issuecomment-472716912. If we can divide the tasks by clarifying which file formats we are going to take and who is taking care of them, we can get to know the dependet-required codes from `tamkin` and `molmod`.

[2019-03-14 10:15] tovrstra commented on #37
@fwmeng88 Thanks for tackling this. Since you are keeping us updated through this issue, the risk for overlap is small.

We should avoid that molmod becomes a dependency, even temporarily, because it contains outdated code that is not fully inconsistent with similar code in IOData, e.g. the way the units are defined. When you need more units, you can define the here, based on constants from SciPy:

[2019-03-14 10:23] tovrstra commented on #36
The `Molecule` class from MolMod would add a lot of non-essential code to IOData (and to be honest, this Molecule class not something I'm particularly proud of), so please discard it. Similarly, instead of copying over the whole `MolecularGraph` and `Graph` classes from MolMod, it would be sufficient to store in IOData just an attribute `bonds` with the list of bonded atom pairs. In general, pract

[2019-03-14 14:53] evohringer commented on #37
I think the subsampling is faster and easier done in the software where the trajectories were created. Would we return a list of dictionaries when reading in the whole trayectory. How do we implement that?

[2019-03-14 14:57] evohringer commented on #37
We will start with the following formats:
psf, gromacs, charmm and pdb

We will try to implement it without dependencies outside iodata.

[2019-03-14 16:00] tovrstra commented on #37
Great! I'm also fine not to support subsampling. I should still work out how trajectories could be handled in #26. I'll comment there.

[2019-03-14 16:06] tovrstra commented on #7
Here is a list of steps we need to take to support trajectories:

- [ ] Change `IOData.from_file` to `load_one`. Change `IOData.tp_file` to `dump_one`.
- [ ] Change all load functions to take a file object as argument, instead of a file. They should also only load data until they have found enough to make one IOData object. When hitting the end of a file, it should raise a `StopIteration`. See htt

[2019-03-15 04:55] fwmeng88 commented on #37
Dear Esteban, I will take care of wfx, qchem, gamess and cpmd where wfx is almost done.

[2019-03-16 05:57] fwmeng88 commented on #32
The `numpy.testing.assert_allclose` is asymmetric, which means that `a=b` might result b not equal a. For example (taken from https://stackoverflow.com/questions/48156460/isclose-function-in-numpy-is-different-from-math)
[code]
But for `math.isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)` , it seems only support scaler instead of numpy array.
[code]
Once an agreement is reached, I can start working

[2019-03-16 07:54] PaulWAyers commented on #32
It sounds to me like you should use numpy.testing.assert_allclose

The nuance of directionality is unlikely to be important; the example is a rather evil one. To the extent that you can identify one value which is "reference" and one which is "approximate" you should make sure the "desired" is the reference.

[2019-03-19 15:49] #32 closed

[2019-03-19 16:50] fwmeng88 commented on #36
A useful link for setting up GAMESS output files on Compute Canada, which has the 2017 version of GAMESS, https://docs.computecanada.ca/wiki/GAMESS-US.

http://myweb.liu.edu/~nmatsuna/gamess/tests.html

[2019-03-19 17:39] evohringer commented on #36
Thanks @fwmeng88. We will start working on this soon.

[2019-03-22 12:24] tovrstra commented on #9
This is fixed by #54 .

[2019-03-22 12:24] #9 closed

[2019-03-22 12:27] tovrstra commented on #2
This issue is superseded by #42.

[2019-03-22 12:27] #2 closed

[2019-03-22 15:05] tovrstra opened #56 "Use deepdiff to compare IOData objects in unit tests"
See https://pypi.org/project/deepdiff/ This can replace the function `compare_mols` and similar things.

[2019-03-22 17:14] tovrstra opened #58 "Try sphinx-autodoc-typehints"
This can greatly simplify writing good docstrings for API documentation. See https://github.com/agronholm/sphinx-autodoc-typehints

[2019-03-22 17:42] tovrstra commented on #58
@FarnazH @tczorro Apparently, this was already used in iodata and it works well. It is worth checking out, really nice extension for sphinx.

[2019-03-22 17:42] #58 closed

[2019-03-26 18:15] tovrstra commented on #30
@fwmeng88 I was fixing other issues in this code in #60 and have increased the precision while I was at it, using `{:.17e}` to rule out any precision loss. Sorry for taking over abruptly.

[2019-03-26 18:15] tovrstra commented on #56
I've looked further into this and it seems that deepdiff is too limited for `compare_mols`. I'm going to close this.

[2019-03-26 18:15] #56 closed

[2019-03-26 19:14] tovrstra opened #61 "Add load & dump functions for atomic basis set definitions"
This code was formerly present in HORTON2 in the module `horton.gbasis.iobas`. See https://github.com/theochem/horton/blob/master/horton/gbasis/iobas.py

The details should still be worked out:
- Should we store such data also in the IOData object, or in its own class? In the latter case, how can we avoid code redundancy?
- Which formats to support. Probably NWChem and Gaussian94 are sufficient?

[2019-03-26 19:17] tovrstra commented on #41
When this is implemented, we should also find a way to get rid of the `# pylint: disable=no-member` lines in most unit tests. This pylint warning is caused by the rather sloppy design of the `IOData` class. (Attributes are not initialized in `__init__`.)

[2019-03-27 02:23] PaulWAyers commented on #61
I think we need to support one format from EMSL, supporting two is good too, and NWChem and Gaussian are good choices. As long as we are compatible with a basis set from the EMSL we should be fine....

I don't see any reason to not store directly into the `IOData` object, but I defer that judgement to those better-qualified to make it.

[2019-03-27 04:58] tovrstra commented on #61
I agree, it can go in IOData too. I'll make some amendments to #41.

[2019-03-27 05:53] tovrstra opened #62 "Clean up iodata-convert script and use setuptools entrypoint."
This is just a reminder that it needs to be fixed. Entry points are more robust and make it easy to add unit tests for all code in the CLI scripts. While doing this, also fix the following:

- move the exception handler for importing `__version__` to the top of the module.
- refresh the argparse strings. some of it is outdated.

[2019-03-27 10:30] tovrstra opened #63 "Add module attributes to file format modules, to generate format docs"
At the moment, the following file is hand-edited (and outdated), yet very convenient for users to look up all the features of supported file formats:

https://github.com/theochem/iodata/blob/master/doc/formats.rst

When we add the following attributes to the file format modules, this page can be generated automatically:

- `INTEROPERATION`: description of other codes that use this format for input

[2019-03-28 09:09] tovrstra opened #64 "Try sphinxcontrib-apidoc"
This would allow us to just run `sphinx-build` without first running `sphinx-apidoc`. It allows `sphinx-apidoc` to be configured in `doc/conf.py`.

[2019-03-28 16:43] tovrstra commented on #64
Roberto uses this already and it seems to work so far. Required packages will be installed automatically from Roberto 1.4.0.

[2019-03-28 17:12] tovrstra commented on #41
To solve the `no-member` issue, one should in principle just initialize all attributes in the constructor `__init__`, but this would get very tedious for IOData. Some alternatives are discussed in the documentation of the `attr` package: https://www.attrs.org/en/stable/why.html This overview is mainly intended to advocate the usage of the `attr` package, so critical reading is advised. Still `attr

[2019-03-28 17:14] tovrstra commented on #41
I've edited the plan to include an `extra` attributes where everything must be stored for which we do not have standard names. This makes it possible to add more attributes to the `IOData` class in future without breaking any code that uses IOData. All allowed attributes should be put in `__slots__`, either manually or with the `attr` package. See https://docs.python.org/3/reference/datamodel.html

[2019-03-28 17:17] tovrstra commented on #41
I've merged `extcoords` and `extcharges` into one array. One is never used without the other, so putting them into one array would save us from checking the consistency of the sizes of these arrays.

I've also removed (some time ago) the atghost attribute. Ghost atoms can be identified with `atcorenums == 0.0`.

[2019-04-07 17:50] #30 closed

[2019-04-07 17:50] #42 closed

[2019-04-09 18:57] tovrstra commented on #64
This fixed already for some time now.

[2019-04-09 18:57] #64 closed

[2019-04-09 18:59] tovrstra opened #70 "Switch cython code to language_level=3"
See for example https://github.com/theochem/cellcutoff/pull/38
(Without this option the Cython is compiled as Python 2 code..)

[2019-04-14 04:22] tovrstra commented on #63
These attributes can also be used to generate `--help` output for the convert script.

[2019-04-14 10:20] tovrstra commented on #24
@FarnazH This is currently partially implemented. Do you have additional work on this in a local branch? If not, I could tackle this in the next few days.

[2019-04-18 16:54] FarnazH commented on #24
@tovrstra I had a few small local commits and considering all the recent updates, there is nothing sitting there that isn't fully covered. Thanks for checking with me.

[2019-04-19 14:57] #28 closed

[2019-04-19 14:59] tovrstra commented on #1
@matt-chan I'll close this one for now because the list is becoming outdated. If you feel we should make a complete list of API changes w.r.t. HORTON2 at some point, just let me know.

[2019-04-19 14:59] #1 closed

[2019-04-19 15:10] tovrstra opened #73 "Get rid of `# pylint: disable=no-member`"
When this is implemented, we should also find a way to get rid of the `# pylint: disable=no-member` lines in most unit tests. This pylint warning is caused by the rather sloppy design of the `IOData` class. (Attributes are not initialized in `__init__`.)

To solve the `no-member` issue, one should in principle just initialize all attributes in the constructor `__init__`, but this would get very te

[2019-04-19 19:35] tovrstra opened #74 "File format API cleanups"
Some more related suggestions to improve the API:

- [ ] In modules in `iodata.formats`: `load` -> `load_one`, `dump` -> `dump_one`, for consistency with `iodata.iodata`.
- [ ] In modules in `iodata.formats`: `data` argument for `dump_one` functions should be dictionaries to make these modules independent of `iodata.iodata`.
- [ ] In `iodata.iodata`: add option to select file format. This is neede

[2019-04-21 06:17] tovrstra opened #77 "Add convenience properties to `MolecularOrbitals`: `coeffs_a`, ..."
It may be useful to make `coeffs_a` and `coeffs_b` properties of the MolecularOrbitals class. Similarly, one could make `energies_a`, `energies_b`, `occs_a` and `occs_b`.

All of these should return None on the generalized case. In case of restricted, `coeffs_b` and `energies_b` should be None, and elements of `occs_a` and `occs_b` should be at most one

_Originally posted by @tovrstra in https://

[2019-04-21 14:58] FarnazH commented on #77
@tovrstra This seems like going back to having separate arrays for alpha and beta components (when we had `orb_alpha`, `orb_alpha_coeffs`, `orb_alpha_energies`, `orb_alpha_occs` and corresponding `beta` counterparts); just that now they are sitting all in `MolecularOrbital` class. Is that true?

I understand that this seems easier to understand/retrieve, but what I don't like is constantly checkin

[2019-04-22 06:02] tovrstra commented on #77
@FarnazH Sorry for the confusion, my original post was not very clear. This would only be an extension with some extra properties (not attributes). We should keep the current array attributes because they are convenient as you mention. I would only suggest to add properties for convenience, e.g.

[code]

(Or `acoeffs`, whichever works best.) The purpose of such properties is to improve the readabi

[2019-04-23 09:15] tovrstra opened #78 "Add MOL2 dump function for interaction with 3dmol"
See https://3dmol.csb.pitt.edu/ It should be possible to add cube data somehow, which could be useful for visualizing surfaces in notebooks.

[2019-04-23 15:06] tovrstra opened #79 "Add ordering from CCA to iodata.basis"
See following paper: https://onlinelibrary.wiley.com/doi/full/10.1002/jcc.20815
"Components for integral evaluation in quantum chemistry" by Joseph P. Kenny  Curtis L. Janssen  Edward F. Valeev  Theresa L. Windus

[2019-05-08 05:02] tovrstra commented on #41
@FarnazH I'll take care of this one soon.

[2019-05-08 05:32] #7 closed

[2019-05-08 09:47] tovrstra opened #83 "ugrid attribute is inconvenient"
At the moment data from a cube file is spread over two attributes: `cube_data` and `ugrid`, for which there is no real reason. We should either put these in one dictionary or have all different attributes.

[2019-05-09 10:59] tovrstra opened #85 "Use atgradient instead of atforces"
The two relevant formats with this information (fchk and wfx) use gradient instead of forces. Our goal is just to represent the data in such files as closely as possible, such that gradients would be a better fit.

[2019-05-09 10:59] tovrstra commented on #85
See also #84

[2019-05-09 16:51] tovrstra commented on #73
Also the `# pylint: disable=attribute-defined-outside-init` lines in `iodata/iodata.py` should be made redundant in the same way.

[2019-05-09 17:26] tovrstra commented on #41
Small change of plan after brief chat with @PaulWAyers : `spinpol=abs(nalpha-nbeta)` will replace `spinmult=1+abs(nalpha+nbeta)` because spin multiplicity is in several cases not a very accurate name.

[2019-05-09 17:44] tovrstra opened #88 "Grep for occurences of HORTON and check if they should be replace by IOData."

[2019-05-10 10:26] tovrstra commented on #41
Small change of plan. `one_ints` and `two_ints` instead of `one_body_integrals` and `two_body_integrals`, similar to `one_rdms` and `two_rdms`.

[2019-05-10 11:36] tovrstra commented on #85
@FarnazH @PaulWAyers Unless you have objections, I'll make this change soon. It also seems to play nicer with geometry optimization algorithms.

[2019-05-10 11:44] tovrstra commented on #83
I'd suggest introducing a `cube` attribute in the `IOData` class, which will replace the current `cube_data` and `ugrid`. This `cube` would be an instance of the following type:

[code]

This is the relevant part of the current docstring for the old attributes, which I'll adapt for the docstring of the `Cube` class:

[code]

The old approach stems from certain data structures in HORTON2, which we

[2019-05-10 11:59] tovrstra commented on #41
Small changes: added `lot` and `moments`.

[2019-05-10 19:02] #41 closed

[2019-05-11 05:14] #85 closed

[2019-05-11 18:52] #74 closed

[2019-05-11 19:23] #83 closed

[2019-05-11 19:51] #27 closed

[2019-05-11 19:51] #70 closed

[2019-05-11 19:51] #88 closed

[2019-05-11 19:57] tovrstra opened #97 "Add a few options to iodata-convert"
- `-m`, `--many` to convert files with multiple frames.
- `-i` to select the input format.
- `-o` to select the output format.
- document the lists of possible input and output formats.

[2019-05-11 20:29] #62 closed

[2019-05-13 14:05] #77 closed

[2019-05-13 14:21] tovrstra opened #101 "Disable all type-checking features of pylint and use mypy instead"
See #100 for explanation.

[2019-05-13 14:47] #73 closed

[2019-05-14 05:13] #63 closed

[2019-05-14 12:59] #97 closed

[2019-05-14 20:32] tovrstra commented on #29
Was already fixed here: https://github.com/theochem/iodata/commit/74302b169bdeae36d262ec6b853ff6f63e78c36f

More docu updates are made in #105

[2019-05-14 20:32] #29 closed

[2019-05-20 04:21] tovrstra opened #108 "Do something about slow test: test_carbon_gs_ae_uncontracted"
This test is slow due to a combination of factors: coverage analysis, lots of computation in one test and slow implementation of the overlap integrals. We should look into options for speeding this one up, because it slows down the typical development cycle a lot.

[2019-05-20 07:51] PaulWAyers commented on #108
I think the overlap method in the new gbasis is a lot faster (based on what we've learned so far; it uses recursion instead of the explicit formula), and the screened overlap in the notes I sent should be O(n).

[2019-05-21 07:08] tovrstra commented on #108
Good to know. The nice solution then could be a minimal implementation of that scheme in GOBasis. I'd still have to figure out how the coverage analysis slows down the computation, which also makes the tests slower.

[2019-05-30 07:35] tovrstra opened #118 "Make it possible to pass options to load and dump functions"
Adding arbitrary optional arguments tp `load` and `dump` would make it possible to deal with variations of file formats, e.g. extra columns in XYZ files. Another use case can be found in #117 .

We could add `**kwargs` to the `load_*` and `dump_*` functions and pass them on to corresponding functions in the file format modules.

@FarnazH Do you know of other relevant use cases?

[2019-05-31 19:28] tovrstra commented on #78
Fixed by #117

[2019-05-31 19:28] #78 closed

[2019-06-05 12:20] kimt33 opened #121 "Spherical contraction ordering documentation"
I can't seem to figure out what the spherical contraction ordering is. The docstring in MolecularBasis says "Wikipedia-ordered real solid spherical harmonic", but a quick look at
https://en.wikipedia.org/wiki/Solid_harmonics and https://en.wikipedia.org/wiki/Spherical_harmonics and https://en.wikipedia.org/wiki/Atomic_orbital makes no mention of dc2, dc1, dc0, -ds1, -ds2, c2, c1, c0, -s1, -s2, s1,

[2019-06-05 12:49] tovrstra commented on #121
The docstring can indeed be improved. There have been modifications after the original version of the docstring that resulted into something very confusion. I suggest to make the following changes to fix things:

1) Clearly define the meaning of the the strings `dc2` etc. In absence of a minus sign, the first character is for the angular momentum, the second for sine or cosine, the last is for the

[2019-06-05 13:13] kimt33 commented on #121
Thank you for your help. I think I have an idea, but I still need some clarifications.

I don't quite know the ordering of the angular momentum after some point. Is it s, p, d, f, g, h, i, j, k, ...? I thought some of the letters were skipped for some reason.

I don't quite get the use of sines and cosines here. Do cosines refer to negative magnetic quantum number? The equations I am looking at co

[2019-06-05 14:45] tovrstra commented on #121
The letter codes are defined in IOData here:
https://github.com/theochem/iodata/blob/d1ab4a4b6be2952e9f572c869dc6cfd84b4b011b/iodata/basis.py#L32
and this was taken from https://en.wikipedia.org/wiki/Spectroscopic_notation#Atomic_and_molecular_orbitals
(or references therein).

I think only sine and cosine notation is unambiguous when you look at the equations. The distinction between negative and

[2019-06-05 15:20] kimt33 commented on #121
I will assume that C -> S_{l,m} and S -> S_{l, -m} using Helgaker's notation (6.4.2).

[2019-06-05 15:26] kimt33 commented on #121
Also, in MolecularBasis, doesn't the first element of the key (of conventions) corresponds to the angular momentum? Is there a case where the angular momentum char does not match up with the numerical angular momentum?

[2019-06-05 15:30] kimt33 commented on #121
If different QC code uses different definitions of real solid harmonics (different by a factor of -1), then which is considered to be -1?

[2019-06-05 15:53] PaulWAyers commented on #121
For the letter codes, J is omitted because of confusion with the total angular momentum. I'm surprised that they don't also omit "M" but probably M doesn't show up frequently enough (and has a subscript L/J anyway).

[2019-06-05 16:30] tovrstra commented on #121
Good, I assume Helgaker's convention is also the most wide spread in the QC world.

We could drop the first character for the angular momentum. Good point. It is there for historical reasons that don't matter anymore.

Also the convention of which is `+` and which is `-` has grown historically. Essentially the sign convention from FCHK files was taken as positive, which seemed to match with most o

[2019-06-06 07:16] tovrstra commented on #121
@kimt33 Is there still anything left that causes confusion? If not I'll take care of fixing the docstring soon.

[2019-06-10 11:16] FarnazH commented on #118
@tovrstra This can be also useful if we end up supporting dume_cube of non-scalar properties.

[2019-06-11 07:48] tovrstra commented on #118
Is the format of a vector cube defined clearly somewhere? The description on the [cubegen documentation page](https://gaussian.com/cubegen/) leaves some room for interpretation. Here is the relevant part:

*Densities, the norm of the density gradient, the Laplacian of the density, and the potential are scalars (i.e. one value per point, NVal=1). A gradient cube contains the density plus the vector

[2019-06-28 18:24] evohringer commented on #118
@tovrstra This could be also useful to read the element information of different parts of the mol2 file or the pdb file (atom name or last column)
Another interesting case is when you have a certain file format which can come in a different version as the mol2 files.

[2019-07-29 07:09] tovrstra commented on #121
I'm going to convert this issue in a few more specific tasks. If I overlook something, please let me know.

[2019-07-29 07:11] tovrstra opened #130 "Drop character from basis ordering conventions for spherical shells."
This refers to the following convention:

https://github.com/theochem/iodata/blob/66c0553b3b18331a5b2279b1888c86607b377c64/iodata/basis.py#L152-L162

The convention for the pure functions can be simplified to

[code]

[2019-07-29 07:12] tovrstra commented on #130
A particular benefit is that the conventions are not limited to or affected by letter conventions for angular momenta.

[2019-07-29 07:13] tovrstra commented on #130
This was originally brought up in #121.

[2019-07-29 07:15] tovrstra opened #131 "Document basis functions with equations"
The following should be covered:

- pure and Cartesian functions
- sign conventions
- normalization conventions

[2019-07-29 07:15] tovrstra commented on #131
This was originally brought up in #122.

[2019-07-29 07:17] tovrstra opened #132 "Remove GBASIS_CONVENTIONS"
These are no longer up-to-date and gbasis has its own wrapper for IOData, which is work in progress, see #122 and theochem/gbasis#78.

[2019-07-29 07:19] tovrstra commented on #131
See https://en.wikipedia.org/wiki/Solid_harmonics#Real_form

[2019-07-29 07:20] tovrstra commented on #130
The minus signs should be removed from this example.

[2019-07-29 07:22] tovrstra commented on #130
This docstring should refer to the documentation to be written in issue #131.

[2019-07-29 07:23] tovrstra commented on #131
This should also cover the string conventions used to define the order and sign of basis functions.

[2019-07-29 07:24] tovrstra commented on #121
The tasks have been split up over issues #130, #131 and #132. I'm closing this one.

[2019-07-29 07:24] #121 closed

[2019-07-30 07:42] #118 closed

[2019-08-05 06:57] #132 closed

[2019-08-07 07:25] #131 closed

[2020-04-22 17:28] PaulWAyers opened #139 "File Converter Functionality"
Recently some of us have been talking about supporting file conversion, i.e., the ability to *write* different file types, so that one could load a file into iodata and then print it back out in a different format. Obviously not all functionality is supported by all file types.

I think we already support writing Molden files. It would be nice to support the JSON schema (already an issue).

Some k

[2020-04-23 06:45] tovrstra commented on #139
A conversion script as such is present, see https://github.com/theochem/iodata/blob/master/iodata/__main__.py. (After install, it is available as a command-line tool `iodata-convert`.) It is just a matter of adding dump routines for some file formats and then this script will automatically pick them up.

[2020-04-23 06:46] tovrstra commented on #139
Well, "just" is maybe an understatement. It takes quite a bit of work to get these dump functions implemented and tested thoroughly.

[2020-04-24 16:24] FarnazH commented on #139
I would be happy to help with this. The formats to consider for dump functionality (at least a good start): `fchk`, `wfn`, `wfx`, `mkl`, `JSON`. Here is a sample implementation of dump for `molden` format: https://github.com/theochem/iodata/blob/master/iodata/formats/molden.py#L574

[2020-04-25 13:27] evohringer commented on #139
I think the "easy" file formats as xyz, pdb, etc have already a dump function. But I don´t think that is what you are after, right?

[2020-04-27 02:52] tczorro opened #140 "Add gaussian IRC logfile format parser"
Add irc output parser for parsing geo structures from the process

[2020-04-27 08:06] tovrstra commented on #140
I'm not sure if it is relevant, but these data can at the moment already be read (with higher precision I guess) from the fchk file. See e.g. https://github.com/theochem/iodata/blob/master/iodata/test/test_fchk.py#L432

I can imagine that it could be relevant to be able to read this information also from a log file, e.g. because some users don't keep fchk files.

[2020-04-28 14:16] #140 closed

[2020-06-23 02:37] PaulWAyers opened #146 "obasis documentation/features"
Executive summary: improve documentation; allow label-to-basis conversion; convert-to-primitives functionality.

We should make sure that obasis (both code and docs) are thoroughly documented. (We've had several questions about it in the last few days).

It would be useful to have a label-to-basis-index and basis-index-to-label functionality, similar to PySCF. It would not need to be implemented e

[2020-06-23 02:56] PaulWAyers commented on #139
Michael found a useful link for outputing files (including *.wfn and *.wfx)
https://github.com/zorkzou/Molden2AIM/blob/master/src/molden2aim.f90

[2020-06-23 02:56] PaulWAyers commented on #139
There doesn't seem to be a clean and well-documented reference for the *.wfn format, so we should write s file specification for it.

[2020-06-27 02:58] PaulWAyers commented on #139
There is some recent work by Gaussian to enhance interfacing. May be interesting for *.fchk or other reasons.

http://gaussian.com/interfacing/

[2020-06-27 03:00] PaulWAyers commented on #139
The MultiWFN format specification is also interesting. Not sure if we should support it....

https://chemrxiv.org/articles/Mwfn_A_Strict_Concise_and_Extensible_Format_for_Electronic_Wavefunction_Storage_and_Exchange/11872524

[2020-07-03 01:56] FarnazH commented on #139
@rayhe88 please be sure to support `dump_many` for `fchk` format when are done adding `dump_one`. Thanks.

[2020-07-03 17:10] FarnazH opened #151 "Making Title Section of Extended XYZ file format Parsable"
The extended XYZ format allows extra columns to be added to the basic XYZ format to store additional atomic properties. `IOData` gives the user the option to specify the existing columns in a XYZ file through `atom_columns` of load/dump functionality.

I recently learned that sometimes the title section of an XYZ file is "standardized" to include cell lattice and other per-frame parameters, and he

[2020-07-03 17:30] FarnazH commented on #146
Would it be also useful to make the functionality for converting between Cartesian and Pure types more transparent and user-friendly, so that the user can convert between them, and choose what type to dump when writing out a file format?

[2020-07-03 19:42] PaulWAyers commented on #151
I think this is an interesting addition. We already have the fields for the cell-vecs and the frames work well in the _many functionality.

[2020-07-03 23:33] evohringer commented on #151
I completely agree with @PaulWAyers. We are thinking to also support the cell lattice from pdb formats since this is important information for condensed phases.

I also like the idea of supporting additional informaciont of the title. Although I do not know how to implement it as an option when reading.

[2020-07-05 02:30] fwmeng88 opened #152 "Atomic unit for entropy"
In Q-Chem log file, the entropy comes with the unit of cal/mol.K. How can we convert entropy to the atomic unit? Right now, we are just keeping the original unit.

[2020-07-05 06:05] PaulWAyers commented on #146
Yes. And it would be nice to have a lot of other functionality. E.g.,
1. Convert from L1 normalized to L2 normalized to un-normalized basis set conventions. It's especially important since integrals and *.wfn and *.wfx usually use unnormalized Gaussians.
2. [from Farnaz] Convert from pure-to-Cartesian basis sets.
3. [from my first issue] Convert from contracted to uncontracted basis sets. (Also us

[2020-07-05 17:04] FarnazH commented on #5
This turned out to be a major ordeal. @wilhadams is working on this; please check PR #144.

[2020-07-05 17:04] #5 closed

[2020-07-05 17:05] #25 closed

[2020-07-05 17:07] FarnazH commented on #38
@tovrstra, in order to do this, should we just add a `iodata/formats/npz.py` format with `load_one`, `dump_one`, `load_many`, and `dump_many`?

[2020-07-05 17:08] FarnazH commented on #39
@tovrstra, how is this different from issue #43?

[2020-07-05 17:12] FarnazH commented on #130
@tovrstra, this has been done, right?

[2020-07-05 18:29] tovrstra opened #155 "Fix loading Molden files with spherical high angular momentum basis functions"
At the moment, it seems we don't load Molden files from PSI4 properly when they contain spherical basis functions with angular momentum above g. For such basis functions, the Molden format is not explicitly defined, so it remains a bit ambiguous how to handle them correctly.

Example: [example.zip](https://github.com/theochem/iodata/files/4875369/example.zip) (This was reported to be a problem wit

[2020-07-06 22:39] PaulWAyers commented on #152
I think we should just store these "extra features" with clearly specified units. So store the value and the unit. @tovrstra had a nice unit-conversion utility that could be used as needed if we store it with clearly specified units.

[2020-07-07 17:45] PaulWAyers commented on #61
`gbasis` already reads in NWChem format. So we could take that over to `iodata` and get at least NWChem format. @wilhadams can say more about how this works and how the JSON schema also has basis-set support.

[2020-07-08 02:33] fwmeng88 commented on #152
Thanks, Paul. @PaulWAyers

Can you share the link of the utility and I store the unit properly? @tovrstra Thanks!

[2020-07-08 20:49] FarnazH commented on #152
I think the question is whether we want to convert these extra properties to atomic units (like everything else in IOData) or just keep the original units in the log file (and store the unit of property in IOData as well). I am not sure whether one uses entropy in atomic units, so the user needs to convert it back.

[2020-07-08 22:25] PaulWAyers commented on #152
I can't imagine cases where entropy is used in a.u. except maybe in Hubbard models. So I'd suggest either having a name that makes the units very clear or storing units explicitly as a named tuple. I'm curious what @tovrstra can say about unit conversion, I think that he knows more about automatic (or semi-automatic) unit conversion utilities in Python, which is the way we should be going.

[2020-07-09 06:08] tovrstra commented on #152
One problem is that, strictly speaking, there is no atomic unit of temperature. One can always decide to use "atomic units + Kelvin" as the internal units by convention, which addresses that point. I'm a bit reluctant to make exceptions on the usage of internal units because it will be a precedent. If we decide to use "atomic units + Kelvin" in all cases, one can avoid future discussions on which

[2020-07-09 11:15] tovrstra commented on #151
Indeed a good idea. I believe the conventions for the title line were introduced in the ASE project. I'm not sure if there is any other definition than just the source code: [extxyz.py](https://gitlab.com/ase/ase/-/blob/master/ase/io/extxyz.py) This is not to be confused with the [extended xyz format from openbabel](https://open-babel.readthedocs.io/en/latest/FileFormats/Extended_XYZ_cartesian_coo

[2020-07-09 11:22] tovrstra commented on #130
@FarnazH Indeed. This was fixed in #133. I forgot to close this one.

[2020-07-09 11:22] #130 closed

[2020-07-09 11:24] tovrstra commented on #39
#43 does not refer to the input spec from MOLSSI but I'm not sure how relevant this is?

[2020-07-10 01:11] wilhadams commented on #39
@FarnazH I'll try to document the qcschema_input schema so that it's relatively simple to dump QM input file info to JSON

[2020-07-10 13:30] #38 closed

[2020-07-10 13:32] PaulWAyers commented on #39
@wilhadams can you make sure that every field that exists in the IOData object exists at least as an optional field in JSON? That way we can use the JSON for long-term storage (though a pickle of the IOData object can still be useful for short-term storage).

(Hat-tip Toon)

[2020-07-10 14:35] PaulWAyers opened #158 "Bad alpha and beta occupation numbers"
In the MolecularOrbitals class, there is an issue for alpha and beta occupations.

When the occupations are nearly integers (very close to 0, 1, and 2), then the present rule works.

When the occupations are fractional, it would be more sensible to choose alpha=beta occupations, which is correct for singlets and for the M_{s} = 0 (N_{alpha} = N_{beta}) state associated with doublets, triplets, etc

[2020-07-14 18:42] FarnazH commented on #152
@fwmeng88, based on the above discussion, please convert `entropy` to "atomic units + K" before storing it in `IOData` in PR #149. The conversion factors can be added to the  `utils` module; see https://github.com/theochem/iodata/blob/master/iodata/utils.py#L34

[2020-07-14 21:07] fwmeng88 commented on #152
Thank you, all!

I have implemented the way Farnaz suggested @FarnazH. Corresponding commits are f81400f, e0d460f, ab9daff and b5c3ffb.

[2020-07-14 21:11] #152 closed

[2020-07-15 02:48] FarnazH commented on #36
@evohringer and @tovrstra can you please decide what to do with these formats left from `tamkin`: https://github.com/molmod/tamkin/tree/master/tamkin/io

1. `charmm`
2. `cp2k` molecule
3. `cpmd`
4. `trajectory`
5. `vasp`

[2020-07-15 02:48] FarnazH commented on #37
@evohringer and @tovrstra can you please decide what to do with these formats left from `molmod`: https://github.com/molmod/molmod/tree/master/molmod/io

1. `atrj`
2. `cml`
3. `cpmd`
4. `crystal`
5. `dlpoly`
6. `gamess`
7. `gromacs`
8. `lammps`
9. `psf`

@evohringer have you started working on psf, gromacs, and charmm as mentioned before?

[2020-07-15 12:28] evohringer commented on #37
@FarnazH : We decided to skip psf, gromacs and charmm and fpcues on pdb format instead which is accessible from all MD packages. But in principle we could add them in the future if needed.

Maybe @tovrstra can comment better on the cpmd, cp2k crystal since I have no experience with this formats.

[2020-07-15 14:36] PaulWAyers commented on #36
Perhaps @evohringer and @tovrstra could make a priority-order list of which file formats are most important, in case anyone is inclined to add support? @BradenDKelly is adding *.mwfn (multiwfn) and of the ones I saw, the ability to parse a GAMESS punch file would be relevant, as then we'd have reasonable support for GAMESS, Psi4, Gaussian, Orca, and Q-Chem (at least), which covers a lot of the qua

[2020-07-15 14:38] PaulWAyers commented on #37
Perhaps @evohringer and @tovrstra could make a priority-order list of which file formats are most important, in case anyone is inclined to add support? @BradenDKelly is adding *.mwfn (multiwfn) and of the ones I saw, the ability to parse a GAMESS punch file would be relevant, as then we'd have reasonable support for GAMESS, Psi4, Gaussian, Orca, and Q-Chem (at least), which covers a lot of the qua

[2020-07-15 16:19] FarnazH commented on #37
@evohringer I understand that PDB is a better format (well-defined and versatile), but if I am not wrong, there is information in the output files that are not printed in PDB, and probably that's why the parsers were added to `molmod` in the first place. For example, looking at the `gormacs` parser in `molmod` (https://github.com/molmod/molmod/blob/master/molmod/io/gromacs.py), it reads time, posi

[2020-07-15 16:22] FarnazH commented on #36
Similar to `gromacs` parser mentioned in issue #37, based on my understanding, `charmm` parser in `tamkin` loaded information not existing in PDB format.

[2020-07-15 17:27] wilhadams opened #162 "Specify `runtype` vs. `run_type` and determine valid values"
In #41 the attribute name storing the calculation type is given as `runtype`. Currently it is implemented as `run_type` in the fchk format parser and the `IOData` class. It would likely be easier for @tovrstra to edit this in the master list on #41 than to change the API now (I don't prefer one name over the other too strongly).

In the fchk parser, the [current possible values](https://github.com

[2020-07-16 16:34] leila-pujal opened #163 "Error when trying to load Molden files with cartesian basis functions generated by last PSI4 version"
I generated some Molden files with new stable release version of PSI4 1.3.2 that can’t be load by IOData. Specifically, I got the problem when I try to load Molden files that use cartesian basis functions. Error arises in line 77 for molden.py in load_one function:

[code]

I attached a compressed file with some example files: there are Molden files for h2o and nh3 systems, one file generated with

[2020-07-17 21:41] evohringer commented on #37
@FarnazH No problem. @lmacaya will port the gromacs format as "gromacs.py".

[2020-07-17 21:42] evohringer commented on #36
@FarnazH : The charmm coordinate parser will be implemented as the "charmm.py" format by @lmacaya .

[2020-07-22 02:28] PaulWAyers commented on #139
We should probably support the Matrix Element File from Gaussian 16. This seems to be a replacement (to some extent) for the old formatted checkpoint file.
https://gaussian.com/interfacing/

[2020-07-22 02:35] PaulWAyers commented on #139
A few useful IOp that will ensure that interesting data is in fchk files.
IOp(9/11=1) [store CC amplitudes]. Probalby also MP amplitudes and CISD coefficients, but ambiguous (= bad) documentation.

Unfortunately I could not find an option to print out MOs and DMs all along a trajectory/IRC.

[2020-07-27 07:37] tovrstra commented on #41
I've renamed `runtype` to `run_type` in the second comment.

[2020-07-27 07:42] tovrstra commented on #162
I've updated #41 to have `run_type` instead of `runtype`. I don't have any strong preference either.

Would it be sufficient to update the documentation along the following lines?

[code]

We can always extend this list to support more run types.

[2020-07-27 10:18] tovrstra commented on #163
Thanks I'll take a look soon. (I've slightly reformatted your initial post for readability.) This is probably related to ordering of Cartesian functions. It may be a bug in PSI4 but we should add a solution in IOData first.

[2020-07-27 14:29] tovrstra commented on #139
@PaulWAyers It seems the matrix element file is binary ("unformatted") and architecture dependent. That said, it contains a lot of potentially interesting data which is not present in an FCHK file. Example code to read these files can be found here: [gauopen_v2.zip](https://gaussian.com/g16/gauopen_v2.zip). It seems to be a Fortran routine compiled into a Python extension. A pure python interface

[2020-07-27 14:45] PaulWAyers commented on #139
I doubt the binary format is compiler-dependent but I expect it is architecture dependent. I'm sure there is something online about reading binary files with Python; I'd be surprised if it weren't possible. But thanks for the analysis @tovrstra; we should definitely knock this down the priority list and probably at this stage should be focusing on finishing up the things we already have. I think t

[2020-07-27 14:58] tovrstra commented on #139
I'll make a separate issue for this format, just not to overload this issue.

[2020-07-27 15:01] tovrstra opened #166 "Support loading data from Gaussian matrix element files"
I'm taking this issue from another thread, see #139.

The Matrix Element File from Gaussian 16 seems to be a replacement (to some extent) for the old formatted checkpoint file. See https://gaussian.com/interfacing/ It seems the matrix element file is binary ("unformatted") and architecture dependent, which makes it challenging, still it contains a lot of interesting data. Here are some potentially

[2020-07-28 08:48] tovrstra opened #168 "Allow MolecularOrbitals.coeffs to be None"
Some quant chem log files do not store the orbital coefficients but they do include related information, like orbital energies. (See e.g. #49.) Currently, the `MolecularOrbitals` class assumes the MO coefficients are always available. This can be seen in the methods `nbasis`, `norb`, `coeffsa`, `coeffsb`: they assume the coeffs attribute is not None. The only workaround at the moment is to initial

[2020-07-28 11:52] tovrstra commented on #163
This is a problem in PSI4. I've reported the issue here: psi4/psi4#1973.

[2020-07-28 14:48] PaulWAyers commented on #166
Seems complicated.

There is a C++ code for reading matrix element files
   https://urania.chem.washington.edu/chronusq/chronusq_public
and also there is a Scipy routine
   https://docs.scipy.org/doc/scipy/reference/generated/scipy.io.FortranFile.html
The Gaussian documentation specific to matrix element files is relevant
   https://gaussian.com/output/?tabid=1
It's a bit painful, though. We can g

[2020-07-28 14:59] tovrstra commented on #158
@PaulWAyers Do you have an example file which could be used for unit testing? Or an idea on how to cook one up?

[2020-07-28 16:03] PaulWAyers commented on #146
@tovrstra do you have notes on the L1 norm for spherical Gaussian basis functions? The L1 normalization is "supported" but not really documented.

[2020-07-28 16:26] tovrstra commented on #146
It is not implemented yet. The field was introduced because it seemed useful for density-fitting basis sets, but it was not needed yet with the current file formats.

[2020-07-28 17:18] PaulWAyers commented on #146
Based on a fast literature search, I think the main normalization for density-fitting basis sets is either none or using the Coulomb normalization, where the Coulomb interaction of the basis function with itself is 1.0. I sent Ali a rough idea for L1 normalization of spherical basis functions. The Coulomb normalization leads to Boys-function-hell I think which may not be what we want to do in `IOD

[2020-07-28 20:17] PaulWAyers commented on #158
I think any correlated 1-DM for a singlet state would be a good choice for the "fractional" case; a CISD calculation in Gaussian for the Be atom would be a simple case. The integer case could be tested by a restricted calculation on a non-singlet, e.g. the Nitrogen atom (quaduplet).

[2020-07-29 12:50] tovrstra commented on #146
Coulomb normalization seems indeed a bit inconvenient and is also a form of L2 normalization. In principle one only needs the limit of the Boys function for r->0, which may still be relatively easy.

For L1 normalization, a simple choice would be to require the multipole moment of the basis function (of corresponding ℓ and m value) to be one. This is not a L1 norm in the strict sense because its d

[2020-07-29 13:34] tovrstra commented on #158
@PaulWAyers  Are you referring to the following? https://github.com/theochem/iodata/blob/master/iodata/orbitals.py#L55

I wrote a simple example to demo this issue, just make sure we're talking about the same thing.

[code]

Which gives as output for a Be CISD calculation:

[code]

This is obviously not ok. I'm attaching the example including fchk file.
[occtest.zip](https://github.com/theochem/io

[2020-07-29 13:56] PaulWAyers commented on #158
Yep, this is what I'm referring too. I'm not sure what system you are examining here (looks like it is probably Be), but in this case occsa = occsb is the correct occupations, as it must be for any singlet (or, more generally, for the M_s = 0 state of a multiplet).  The way occsa and occsb was computed here would be appropriate for a R(O)HF calculation.

[2020-07-29 14:01] tovrstra commented on #158
Good. Thanks, all is clear now. This is indeed output for Beryllium.

[2020-07-29 14:06] PaulWAyers commented on #146
That seems sensible. So one would take
             Integral(x,y,z) (L1NormedGaussian(r)*Y(ℓ,m))*Y(ℓ,m) dxdydz = 1.0
That's very easy since it boils down to just L1-norming the radial factor of the Gaussian. It's not quite consistent with the corresponding Cartesian case (where the L1 norm can be computed) but I doubt this feature gets used that much (more likely to use unnormalized Gaussians here

[2020-07-29 14:43] PaulWAyers commented on #146
Yep, let's talk on Monday. The main urgency is that @Ali-Tehrani is refactoring/extending `obasis` right now.

[2020-08-01 08:54] #163 closed

[2020-08-02 07:53] FarnazH opened #174 "Issues with Loaded MO Occupations from FCHK"
The FCHK file format does not provide the occupations of alpha and beta orbitals, and currently they are assigned to be 2.0, 1.0, and 0.0 based on the number of electrons and kind of orbitals. This does not result in the right occupations all the time (e.g. for a system with fractional occupations), and it safer to use the 1RDM printed in FCHK to assign MO occupations.

I encountered this when loa

[2020-08-05 16:33] #36 closed

[2020-08-05 16:37] tovrstra commented on #39
closed in favour of #43.

[2020-08-05 16:37] #39 closed

[2020-08-05 16:42] #101 closed

[2020-08-05 16:45] tovrstra commented on #108
This is no longer the bottleneck, so I'm closing this. (Reviewing takes more time than running tests.)

[2020-08-05 16:45] #108 closed

[2020-08-05 16:47] FarnazH opened #176 "Load CC amplitude from FCHK & Add documentation"
A few useful IOp that will ensure that interesting data is in fchk files.
IOp(9/11=1) [store CC amplitudes]. Probalby also MP amplitudes and CISD coefficients, but ambiguous (= bad) documentation.

Unfortunately I could not find an option to print out MOs and DMs all along a trajectory/IRC.

_Originally posted by @PaulWAyers in https://github.com/theochem/iodata/issues/139#issuecomment-662206832_

[2020-08-05 17:04] tovrstra commented on #168
It would still be useful to be able to store the number of basis functions, which is currently deduced from the coeffs matrix. An alternative should be added when coeffs is allowed to be None.

[2020-08-05 19:42] FarnazH commented on #37
@RichRick1 please take a look at `gamess` format in `molmod` which needs to be transferred to `iodata` and be added in `iodata/formats` module. Thanks.
https://github.com/molmod/molmod/blob/master/molmod/io/gamess.py

[2020-08-06 04:24] #139 closed

[2020-08-10 16:15] tovrstra opened #179 "Documentation build broken due to issue with Napoleon extension"
See sphinx-doc/sphinx#8097. It is not critical since we will move away from Cython anyway. See #165. I'm just opening an issue in case anyone else runs into the same problem. This can be closed after #165 gets merged.

[2020-08-14 12:30] tovrstra commented on #151
@mcoolsce has code for parsing the title of an extended XYZ and reading the data afterwards. He'd be happy to make a PR for this.

[2020-08-14 19:38] PaulWAyers commented on #151
That would be great. Thanks @mcoolsce

[2020-08-15 09:16] tovrstra commented on #179
With the Sphinx 3.2.1 release, this issue is resolved.

[2020-08-15 09:18] tovrstra opened #180 "Pytest in CI is broken due to a conflict between pytest-xdist-2.0.0 and pytest-cov-2.10.0"
See https://github.com/pytest-dev/pytest-xdist/issues/581. This implies all PRs will fail.

[2020-08-15 10:00] #180 closed

[2020-08-16 07:33] tovrstra opened #183 "Update changelog before stable 1.0.0 release"
The current changelog does not reflect the changes made after May 2020. It should be updated prior to the stable release.

[2020-08-16 12:55] tovrstra opened #185 "Document installation of pre-releases"
The current install documentation only explains stable releases and we don't have any serious stable releases yet.

[2020-08-21 00:00] FarnazH commented on #43
A note from @tovrstra about a feature not supported in PR #188 when writing Gaussian input files:
"The format of the atom_lines should be configurable, with about the same level of flexibility as the template for the whole input file. See e.g. the Gaussian Molecule Specification: http://gaussian.com/molspec/. For some job types, more information than element and Cartesian coordinates needs to be a

[2020-08-23 02:17] FarnazH opened #189 "Add Code of Conduct"
The Code of Conduct is mentioned in the release paper, so we should add it to the website asap.

[2020-08-23 09:38] tovrstra opened #191 "General API for preparing IOData object before dumping"
**Motivation**

At the moment, it is mostly assumed that an `IOData` instance contains all the right attributes in the right form before it is passed on to a `dump_one` call. Some file formats (WNF, WFX and potentially also FCHK) modify the `IOData` object to become compatible with the format. Typical modifications include:

- WFX/WFN: converting basis to Cartesian functions (with transformation o

[2020-08-23 15:40] tovrstra opened #192 "Configurable atom lines in write_input"
A note from @tovrstra about a feature not supported in PR #188 when writing Gaussian input files:
"The format of the atom_lines should be configurable, with about the same level of flexibility as the template for the whole input file. See e.g. the Gaussian Molecule Specification: http://gaussian.com/molspec/. For some job types, more information than element and Cartesian coordinates needs to be a

[2020-08-25 08:55] #155 closed

[2020-08-26 16:02] FarnazH opened #200 "Make atom_columns of XYZ load_one more hackable"
Make it easier for the user to change how a column is parsed. For example, change the units of coordinates from angstrom to bohr.

[2020-08-26 16:06] #174 closed

[2020-08-26 18:13] wilhadams commented on #162
Sorry for the delay. Yes, that is great, thanks!

[2020-08-26 18:36] wilhadams opened #201 "Document required `attrs` package"
The `attrs` package is requred for IOData, but there's no mention of it anywhere in the README nor the developer documentation. This is also important because there's also an `attr` package, with similar functionality, and the import statement for the `attrs` package is `import attr`, which is confusing. I think putting a brief overview of how `attrs` works within IOData into the developer docs wo

[2020-08-26 19:29] wilhadams commented on #162
Preemptively closed this, I'll let @tovrstra 's PR close it instead

[2020-08-27 03:22] #162 closed

[2020-08-27 13:56] tovrstra commented on #201
@wilhadams Thanks for the suggestion. I'll take care of this in #157. This PR converts one namedtuple to an attr class. We should do also the remaining ones, and add a few words of explanation to how it is used. We mainly use it for attribute validation and avoiding lengthy classes.

[2020-08-27 18:33] tovrstra opened #204 "Janitoring todo list before 1.0.0"
I'll keep a list of minor cleanups that should be done. It is easier to carry these out when all PRs are merged because these cleanups touch many parts of the code, easily causing merge conflicts:

- [ ] Check `# pylint: disable=` scopes. I noticed I've been placing them incorrectly, see e.g. this fix: https://github.com/theochem/iodata/pull/196/commits/7ea93001fe44182b4d8752588e84e26f49c66cfc

[2020-08-28 05:51] #179 closed

[2020-09-01 12:25] tovrstra opened #210 "Extend the examples in `getting_started.rst` and run them as unit tests"
The examples in `getting_started.rst` are a bit limited and could be extended (in line with the manuscript). They should also be tested in the unit tests to make sure they keep working. This can be accomplished by writing them as python scripts in the `iodata/test/data` directory. These files can be easily accessed by the unit tests and included in the documentation with the [literalinclude direct

[2020-09-02 13:46] #185 closed

[2020-09-03 06:45] tovrstra opened #213 "Failing tests on Windows"
@RichRick1 @FarnazH  Can you copy the terminal output of a failing test in `test_cli.py`? Since we have a pure Python package now, there are no OS-specific releases anymore. There can still be OS-specific bugs, like the one you are hitting.

[2020-09-07 13:07] #201 closed

[2020-10-19 21:14] PaulWAyers commented on #158
This issue was the one comment (the only semi-critical comment) of the referees for the manuscript, so we should be sure we get it fixed prior to release.

[2021-03-12 15:48] fwmeng88 opened #221 "Support of non-standard basis set for Gaussian"
Will add more soon.

[2021-03-12 16:16] fwmeng88 commented on #221
This code snippet shows how to build a bais set for a given molecule, simple and fast

[code]
https://molssi-bse.github.io/basis_set_exchange/

[2021-03-12 16:34] tovrstra commented on #221
Thanks for keeping track of this. I believe for Gaussian, when using the gen keyword, the basis set for each element should only be listed once. We may needs something like `np.unique(mol.natoms).tolist()`.

[2021-03-12 19:33] fwmeng88 commented on #221
Nice catch!  We should use a list without duplicated elements (sort of `set`).

Good to know `np.unique()` instead of `list(set(my_list))`. Thanks! @tovrstra

[2021-03-12 21:44] tovrstra opened #222 "Add support for fractional bond orders"
At the moment, bond orders are force to be integer because they are stored in the same array containing the atomic indices. This can be fixed easily with a structured data type: `np.dtype("int, int, float")`.

[2021-03-15 17:16] PaulWAyers opened #223 "Support for NOMAD JSON?"
We should consider supporting the NOMAD databases JSON format. There are several advantages to this format, mostly its native interoperability with the NOMAD database and the large number of parsers and Python utilities it makes available to us.

I had thought about making sure NOMAD supports QCSchema, and that would work. But we could also support the Nomad format. I'm not sure which is better. N

[2021-03-16 02:59] PaulWAyers commented on #223
@wilhadams  looked at this can came away impressed. We should definitely try to support reading/dumping NOMAD JSON. We might also look at helping NOMAD parse QCSchema, but it seems like NOMAD is far ahead of MolSSI on this one. It might be that the conversion (through IOData) of NOMAD to QCSchema is more helpful.

We should also investigate (perhaps the answer is obvious) whether a NOMAD-compatibl

[2021-03-17 16:19] #79 closed

[2021-03-18 15:42] tczorro opened #225 "`format/json` error"
No module named 'iodata.version' when import iodata.
This problem can be fixed by commenting out `from ..version import __version__`

[2021-03-18 15:45] tovrstra commented on #225
The file `version.py` is generated by running `rob write-version`, which derives it from the git tag.

[2021-03-18 15:45] #225 closed

[2021-03-18 15:49] tovrstra commented on #225
P.S. This is what it generates for me on the master branch, in case you want to check:

[code]

More info can be found in `CONTRIBUTING.md`

[2021-03-19 05:30] shivupa opened #227 "Error on import"
I couldn't import `iodata` when installed using pip from the git repo: `python -m pip install git+https://github.com/theochem/iodata.git --user`

[code]

It seems that this line
`from ..version import __version__`
in this commit caused this?:
https://github.com/theochem/iodata/commit/95e1642d5df88cf086593dd688ad6f7739c09c2d?branch=95e1642d5df88cf086593dd688ad6f7739c09c2d&diff=unified

Sorry I didn

[2021-03-20 10:33] tovrstra commented on #227
We currently don't support installation with pip directly from the repository. The reason is that the `version.py` file is derived from `git describe --tags` when packaging a release. There is currently no fallback option in case the file is not present.

As a workaround for now, you can do the following:

[code]

Can you check if this works for you? More details can be found in `CONTRIBUTING.md`

[2021-03-20 11:36] tczorro opened #228 "[Feature Request]Add Gaussian input type .com and .gjf to load_one"
Add gaussian input file support in load_one

[2021-03-20 17:43] PaulWAyers commented on #228
I think this is sensible since sometimes databases are provided only as files (either input files for a specific program or something similar) that need to be (re)run locally. When this is the case, parsing the input files can be important for a workflow. So whenever an problem like this comes up, it would be good to use the problem as an impetus to improve/extend IOData instead of writing a one-o

[2021-03-20 20:11] tovrstra commented on #228
This would indeed be a nice addition. I'll take a closer look at the PR soon.

[2021-03-20 23:01] #227 closed

[2021-03-21 00:10] tovrstra commented on #227
@shivupa Can you try again? It should be fixed (and works on my machine, but please test).

[2021-03-21 13:04] tovrstra commented on #228
Fixed by merging #229

[2021-03-21 13:04] #228 closed

[2021-03-22 11:14] tovrstra opened #232 "Add support for various matrices in the MWFN loader"
The MWFN file may also contain sections with integrals, which are currently not loaded yet.

Related to this, the loader assumes a specific order of sections in the MWFN file (the same order used by the MWFN code). This is probably fine, but makes it harder to implement optional sections (e.g. integrals). This can be addressed at the same time.

For more details, see discussion: https://github.com

[2021-03-22 18:38] PaulWAyers commented on #223
We should also probably think about supporting the the Materials Project
   https://materialsproject.org/
Their `pymatgen` utility supports Gaussian and Vasp (among others) so should not be so hard for us to use. I didn't figure out what they are doing to store; it seems like an object but there is also a befuddle .json file there somewhere.
   https://github.com/materialsproject/pymatgen
They men

[2021-03-22 18:39] shivupa commented on #227
Confirmed working for me! Thanks for the quick turn around on this

[2021-03-23 18:44] BradenDKelly opened #234 "Add robust features to Gaussian input files"
- [feature request]

The current `write_input()` for Gaussian works well for typical jobs that require only having a theory, basis and simple task i.e., opt, energy etc. But a more complicated directive does not seem possible?

For instance if I want to make the following input file, is it possible?
[code]
I mention this because I want to make these types of inputs. If this seems like a good thing

[2021-03-23 19:20] wilhadams commented on #234
One way you could do this with the input writer in the current state is to provide your own template through the `template` arg, instead of using [the default Gaussian template](https://github.com/theochem/iodata/blob/master/iodata/inputs/gaussian.py#L35).

[2021-03-23 20:11] PaulWAyers commented on #234
I'm curious what @tovrstra  and @FarnazH  think, but I think beyond "simple" Gaussian input files we may be making much more work than we want.....the `template` idea Wil mentions seems stronger, and really is what we would expect to *have* to do when we are doing large databases of calculations that need fairly specific inputs.

[2021-03-23 21:20] tovrstra commented on #234
Indeed, the reason for having the (optional) `template` argument is to provide flexibility for this scenario. It works well as long as the extra bits in the template do not depend on the properties of the molecule. Anything beyond that would require some extra infrastructure, either inside IOData, or by the code that provides the template.

[2021-03-24 17:17] BradenDKelly commented on #234
The template works, so that solves my problem. I do have a question/suggestion... the template is an external file, which is fine, but it wouldn't be much more work to make it so that the template could be passed as a string.

currently in the [api.py](https://github.com/theochem/iodata/blob/95af9914463326e74772d64c0dacd92658f98321/iodata/api.py#L229) we pass the name of the physical file and then

[2021-03-24 17:50] wilhadams commented on #234
I agree with Braden, it would be great to accept a string for the template argument. Perhaps we could make `template` correspond to a template string input, and add another argument `template_file` for cases when reading from file are desired.

@tovrstra - what do you think? I'd be happy to implement whatever version of accepting strings, and could add a small section to the docs detailing the dif

[2021-03-24 18:32] PaulWAyers commented on #227
Do we need to update the installation documents to reflect this @tovrstra ? @BradenDKelly was having issues also.

[2021-03-24 19:27] tovrstra commented on #234
I also agree with Braden. It is quite convenient to define and prepare the input template as a Python string. I would suggest to drop the possibility to pass in a filename as argument and always assume it is the template string itself. If someone wants to read it from a file, the extra effort is trivial:

[code]

or

[code]

We're not at IOData version 1.0, so changing API is still ok.

[2021-03-24 20:05] tovrstra commented on #223
I could not easily determine if pymatgen also has its own serialization like QCSchema or Nomad. It seems they mainly use existing formats and the REST API of materials project.

Nomad is indeed impressive. It seems extensive in principle but I'd have to try it to see how it works. Many of the entries in MetaInfo are not used yet in the database, so it is a bit difficult to see how it exactly works

[2021-03-24 20:10] tovrstra commented on #227
The possibility `python -m pip install git+https://github.com/theochem/iodata.git --user` was never mentioned in the docs, so I didn't worry too much about supporting it.

Given that we still have some pre-1.0 issues to sort out, there is no stable release yet and those who know how to install from git, will be inclined to do it. I'd avoid documenting it, because if it gets used without understand

[2021-03-25 18:47] tovrstra opened #239 "`setup.py` imports IOData (indirectly), which may cause troubles"
The `exec(f.read(), myglobals)  # pylint: disable=exec-used` triggers an import of IOData, which was not intended. It may break `setup.py` when some dependencies of IOData are not installed (or not up-to-date) before running `setup.py`. See https://github.com/QuantumElephant/databases/pull/7#pullrequestreview-621374680

[2021-03-25 18:49] #234 closed

[2021-03-26 12:52] tovrstra opened #241 "Use `.format` method instead of `template` module in `write_input`"
The `.format` method is more powerful than the `template` module and would make it easier to add more features to the input writer without adding much more code. For example, the following is something only the `.format` method can do:

[code]

[2021-03-26 18:03] wilhadams commented on #241
@tovrstra Do you want me to take care of this?

[2021-03-26 18:35] tovrstra commented on #241
That would be great. Just replacing `template` by `.format` should not cause trouble but it is will take quite a bit of changes in many places.

[2021-03-27 08:55] #241 closed

[2021-03-28 14:14] tovrstra commented on #158
I'd like to avoid a hacky solution for this, but rather do a minor redesign of the `MolecularOrbitals` class to  handle all cases without special rules for corner cases.

When preparing #245 I noticed a few other related points, which we could address in the design of the `MolecularOrbitals` class. (I did not make any API changes #245 to keep things organized and to allow merging it while API disc

[2021-03-29 00:12] PaulWAyers commented on #158
I think the solution (first option) is maybe better. I think somewhere in ChemTools there was a convention discussed that was a bit more explicitly, basically _ab _a _b and _aminusb or something like that to indicate the different quantities. Keeping the "total" occupation numbers (n_alpha + n_beta) and the spin-polarization occupations (n_alpha - n_beta) is preferable I think since it requires le

[2021-03-29 18:07] #239 closed

[2021-03-29 18:55] tovrstra opened #247 "Add CIF load_one"
As mentioned in #198, support for the CIF format would be a nice addition. This issue collects relevant pointers for development of a CIF loader. One existing python implementation can be found in ASE. The following could also be useful: https://bitbucket.org/jamesrhester/pycifrw/src/development/ and https://www.iucr.org/resources/cif/software/pycifrw.

[2021-03-30 04:20] #168 closed

[2021-04-01 10:25] tovrstra commented on #151
This was implemented in #186.

[2021-04-01 10:25] #151 closed

[2021-04-01 10:26] tovrstra commented on #222
I've added a few PRs adding support for bond information to a few more file formats, just to get a better feel of what is needed, see #248 and #250. There are a few different things needed by various formats. Splitting up the current `bonds` array into a three attributes seems most appropriate:

1. `bonds` just becomes an array with two columns for pairs for atoms (first two columns of the current

[2021-04-01 10:30] tovrstra commented on #43
All points in this issue are addressed. Related issues are #192 (with PR #253) and #221. Feel free to continue discussions there or open new issues if needed.

[2021-04-01 10:30] #43 closed

[2021-04-01 10:42] tovrstra commented on #189
We need to decide on which code of conduct to include. I'm fine with including Contributor Covenant 2.0 and  refining things later if needed. For this, we also need to define a contact method.

[2021-04-01 10:58] tovrstra commented on #200
I'll mention here how this can be accomplished at the time of writing. We can see from there how to simplify it.

[code]

[2021-04-01 13:52] tovrstra commented on #200
The main limitation of the current approach of defining the columns is that everything must be repeated when one is only interested in just changing one little detail. Here is an attempt to get around this...

We can define the columns through dictionaries, in which it is easier to override certain fields, while the rest is kept to the default. We can put this in `iodata.xyz`:

[code]

We can add

[2021-04-01 15:41] tovrstra commented on #221
I did some testing and extended the example to work out a specific case. This is just to get a better idea of how to proceed.

Python script:
[code]

The SDF file `formamide.sdf`:
[code]

This results in a valid Gaussian input file. The `bse` Python package already knows that it should not repeat basis functions for the same element, which is convenient. @fwmeng88 Does this also work for you?

I'm

[2021-04-01 17:11] PaulWAyers commented on #221
At least from my point of view, adding the increasingly standard dependency on the basis-set-exchange would be outweighed by increased convenience.

[2021-04-01 17:59] tovrstra commented on #221
Good. It think it would become a much-loved feature. Should it be the default behavior?

By the way, something similar is possible with ORCA, see https://sites.google.com/site/orcainputlibrary/basis-sets (see `newgto` command).

[2021-04-01 18:29] wilhadams opened #254 "Add separate, more detailed section for the Input Writer?"
Adding things like non-standard basis set options (#221) are making it possible to do a lot of useful and complex things with the input writer, which is really exciting. However, when I was previously adding examples for using custom templates, I started to worry that the "Input Files" section of the getting started page was beginning to get pretty lengthy. Would it make sense to break out most of

[2021-04-01 18:39] tovrstra commented on #254
Yes, most definitely. It would be good to have a separate section with more elaborate examples, while keeping the "Getting Started" is kept short and simple.

While doing this, it could be good to address #210 too. Executing the more elaborate examples int the unit tests would guarantee the examples keep working. (This also implies the necessary input files are present to run the examples, which w

[2021-04-01 20:52] wilhadams commented on #221
I'd be in favour of using BSE to do this, especially since it already prepares the formatted lines, so we could just put it right into the template.

If we really wanted to be able to generate the non-standard basis from `MolecularBasis`, it wouldn't be terribly hard to add a `load_one` for their BSE JSON format (it's similar to QCSchema's basis schema), but then we'd need to build a converter for

[2021-04-02 04:58] tovrstra commented on #221
@wilhadams I hadn't thought yet of the second possibility you mention. It might be useful in some corner cases, e.g. when you have a `MolecularBasis` instance from a wavefunction file for which the name is not known or available, but I would indeed not worry about it for now.

[2021-04-02 12:25] fwmeng88 commented on #221
Adding the `basis_set_exchange` would be a very nice feature to build Gaussian input files.  I have tested the code you proposed and it worked perfectly on my end.  @tovrstra

Speaking of putting an example in the documentation, maybe we need to put more than one? Such as one example for regular geometry optimization and another to show how to handle multi-step jobs (https://gaussian.com/input/).

[2021-04-02 18:27] tovrstra commented on #221
I've added it on the list for 1.0, to fix in this in relatively short term. A few related issues need to be handled before this one: #253 to avoid merge conflicts and #254 and #210 to provide a better infrastructure and place for more elaborate examples in the documentation.

[2021-04-03 06:05] tovrstra commented on #146
I will start splitting this up in smaller and more focused issues to make it easier to address the points mentioned above. It is too much for one issue.

[2021-04-03 06:23] tovrstra opened #256 "Clarifications and documentation improvements in `iodata.basis`"
(This was a part of #146.)

There are some points of confusion in the documentation of `iodata.basis` and some names may be confusing. I'll maintain a list of suggestions for improvements below.

- [x] `Shell.nprim`: The "number of primitives" can be interpreted in a few different ways. E.g. `nexp` for number of exponents has less ambiguity. `contraction_length` is too long. See #357
- [ ] `Shell.

[2021-04-03 06:25] tovrstra opened #257 "Functions to interpret basis sets: label-to-basis-index and basis-index-to-label"
(This was part of #146.)

Quoting @PaulWAyers: *It would be useful to have a label-to-basis-index and basis-index-to-label functionality, similar to PySCF. It would not need to be implemented exactly like this, but it would be nice to have functionality that, for a given basis function (say, the 17th) would tell you its type, contraction coefficients, exponents, center etc. (e.g., that it was the

[2021-04-03 06:35] tovrstra opened #258 "Decontraction of basis sets"
(This was part of #146.)

Quoting @PaulWAyers: *It would be nice to have a tool to convert a contracted basis set (and its MOs) into a completely decontracted (100% primitives) format. This is especially useful for dumping *.wfx and *.wfn. It's also useful (very occassionally) since decontracted basis sets are often preferable for small, highly-charged polycations (e.g., isoelectronic series).*

S

[2021-04-03 06:44] tovrstra opened #259 "Conversion to Cartesian basis sets"
(This was mentioned in #146.)

The conversion to Cartesian basis sets is needed for the WFN and WFX formats because these formats to not support pure functions. Just as in #258, this does not only require a change in the basis set definition, but also a transformation of all data expressed in the basis. At the lowest level, this can be implemented as function returning a transformed `MolecularBasi

[2021-04-03 06:54] tovrstra opened #260 "General utility for converting between two basis sets"
(This was originally mentioned in #146.)

In some cases, it is useful to transform arrays in IOData objects from one basis set to another. A preliminary implementation can be found in #175. A fully general implementation has a few weaknesses, which require some caution:
- Lack of numerical stability. For two common types of transformations, simple and robust transformations exist, see #258 and #25

[2021-04-03 07:13] tovrstra opened #261 "Support different types of normalization of the primitives in `iodata.basis`"
(This was originally discussed in #146.)

At the moment we only have `L2` normalization, while many file formats use different conventions. One other common convention is to use unnormalized primitives, e.g. in the WFN and WFX formats. There are also a few variants of L2 normalization, which mostly originate from (incompatible) conventions used internally by other QC codes. At the moment, the conv

[2021-04-03 07:14] tovrstra commented on #146
Everything should be mentioned now in the separate issues. I'm closing this one.

[2021-04-03 07:14] #146 closed

[2021-04-05 18:18] PaulWAyers commented on #261
I think the only options I can think (that are in wide use) are L2 and unnormalized. I know L2 can be a little bit tricky depending on the normalization convention within a contraction. I would tend to say that supporting lots of options is fine (but also a lot of work), but I would err on the side of user-friendliness over generality. Perhaps that also suggests the normalization_conventions dicti

[2021-04-05 18:28] PaulWAyers commented on #260
@Ali-Tehrani had a very elegant algorithm he found for doing this. His way should be as stable as this can be. So I'd defer this issue to him.

The good news is that it should be possible in a very general way, with options for atom-blocking and renormalization easy possible embellishments. Ill-conditioning should be mainly (always?) associated with large basis sets (near-linear-dependence). In su

[2021-05-20 13:37] fwmeng88 opened #266 "Fix `dump_one` and `dump_many` for SDF file format"
The current implementation of `iodata` has some problems with saving SDF files.

- [x] No **M END** tag and therefore not readable by other packages.
- [ ] No *connectivity information* dumped and therefore, it is regarded as a set of atoms when loading with other packages.

I don't know a quick fix to it yet, but it would nice to have SDF dump functionality.

[2021-05-20 13:46] tovrstra commented on #266
Thanks for noticing these issues. The `M END` seems to be missing indeed.

I'm a bit confused with your second point. When connectivity information is present in the IOData instance, it should be dumped. Can you given an example showing this problem? That may clarify the issue.

[2021-05-21 04:31] fwmeng88 commented on #266
Yeah, you make the point. I didn't make it clear. Because when connectivity information is not available, such as in *XYZ* file format, there would be no such information dumped to SDF file. So, I think we need to figure out a good way of generating the connectivity. I know open babel handles this very well.

@tovrstra

[2021-05-21 04:58] PaulWAyers commented on #266
It's a bit of mission creep....we can dump connectivity when we have it, but defining it would be a utility external to IOData I think. It's implicit in GOpt, and we could use that to define connectivity to the extent we need it. Perhaps would require splitting off a utility from GOpt for connectivity.

[2021-05-21 09:07] tovrstra commented on #266
I agree with Paul. IOData does (at least for now) not attempt to guess where bonds are because it goes beyond the original scope of reading and writing data.

If we decide to extend the scope, there should also be some discussion on how far we'd like to go. I'll try to make a few guesses. Just detecting connectivity (without trying to guess the types of bonds) can be done with relatively little co

[2021-05-21 13:13] PaulWAyers commented on #266
So to be clear, I wouldn't be averse to having a stand-alone utility that had the functionality:
- **Input**: `iodata` instance without connectivity.
- **Output**: `iodata` instance with connectivity generated by `RDKit`, `OpenBabel`, etc. Or even just covalent radii and interatomic distances.

I wouldn't want to include this in `iodata` (except *maybe* the last one) because it adds major external

[2021-05-21 17:56] fwmeng88 commented on #266
Thanks for the comments! @PaulWAyers @tovrstra
Given this problem is beyond the scope of our `IOData`, let's leave this for `RDKit` or `OpenBabel`.

It makes things very clear to time for now. I will fix the missing tag issues shortly and make a new PR.

[2021-05-22 08:57] #266 closed

[2021-05-27 17:50] PaulWAyers commented on #247
Basic information on the *.cif file can be found on [wikipedia](https://en.wikipedia.org/wiki/Crystallographic_Information_File) which notes that this file format's (extension) is not the preferred format for the protein databank.

The *.cif syntax is explained [here](https://www.iucr.org/resources/cif/spec/version1.1) and the detail specification is [here](https://www.iucr.org/resources/cif/spec/

[2021-06-03 15:43] PaulWAyers opened #269 "Support *.mol files"
@vcanogil suggested that we should also support a *.mol file.

Links to the detailed file specification are below, but this should be *very* easy I think, because we already support a *.sdf file.

- https://chem.libretexts.org/Courses/University_of_Arkansas_Little_Rock/ChemInformatics_(2017)%3A_Chem_4399_5399/2.2%3A_Chemical_Representations_on_Computer%3A_Part_II/2.2.2%3A_Anatomy_of_a_MOL_file

-

[2021-06-14 17:12] shivupa opened #273 "CFOUR molden files"
Hi,
We have noticed the MOs printed in the CFOUR MOLDEN output are not normalized as expected. We were interested in standardizing this.

We summarize the quirks below (relevant files are at this [gist](https://gist.github.com/shivupa/0905319e6492f297fbf17766bdaa3813)):

- CFOUR outputs "[Molden Format]white space" rather than [Molden Format]". Needs .strip()
- CFOUR also puts "[Molden Format]" in

[2021-06-14 17:36] PaulWAyers commented on #273
Thanks for pointing this out. @tovrstra is probably the best person to respond in detail. As you've surmised, molden files are darn tricky. Just off hand, however, I don't think it will be that difficult to support CFOUR molden files too.

[2021-06-15 08:34] tovrstra commented on #273
@shivupa Thanks for bringing this up. We'd love to update our code so it can handle CFOUR files. How familiar are you with changing the source code and making a pull request? We typically review PRs and make suggestions for code improvements until it all looks good. A good start is to create a PR with unit tests with CFOUR files, which just show that the current code fails. Then you can add commit

[2021-06-15 13:59] amandadumi commented on #273
@tovrstra thanks for orienting us and giving us some guidance, it's very helpful Your response has answered all of the questions we have at this point. We are familiar with python development with git and github, so this will be fine for us. We will open a WIP pull request and get started!

[2021-08-23 21:48] fwmeng88 opened #278 "Extract some information from results of `opt` and `scrf` Gaussian jobs"
I am working on a project that requires the following information from geometry optimization result (log file) using Gaussian 16,

- dipole (line 20341-20342 in test_opt.log)
- electronic spatial extent (au) (line 20339 in test_opt.log)
- HUMO and LUMO, (line 20183-20184 in test_opt.log)
- rotational constants (GHZ) (line 20156 in test_opt.log)

and the following from SCRF job,
- SMD-CDS (non-elec

[2021-08-25 11:51] FarnazH commented on #278
@fwmeng88 actually, I was just needing to get some geometry information out of the Gaussian log file, so it would be very useful to parse more information out of the log file. As far as I can tell, we don't have any unmerged implementation, so please feel free to share your work.

[2021-08-25 14:24] fwmeng88 commented on #278
Thanks for letting me know.  @FarnazH
I have a working script for now, but I will refactor it and make a PR. The plan is to put all the information into `extra` section in the dictionary.

Here is the script that I wrote,
[code]

[2021-08-25 14:46] tovrstra commented on #278
@fwmeng88 This would be a welcome addition!

I have a small question, bu it is likely not an issue: long chained `elif` statements can become slow because  each line is compared in all `elif` statements. I'm actually not sure how to do it in any faster way. Dictionary lookups could be faster to select the right code for parsing a line, but one would need to know which part of the line to use, e.g.

[2021-09-15 04:36] PaulWAyers commented on #247
Note also that there was a *.cif support in HORTON 2.
https://theochem.github.io/horton/2.1.0/lib/mod_horton_io_cif.html

[2021-10-04 15:55] shivupa commented on #273
Closed via #276

[2021-10-04 15:55] #273 closed

[2021-10-06 16:47] PaulWAyers opened #281 "2-electron reduced density matrices"
We should support 2-electron reduced density matrices from PySCF and PyCI.

Some (very old) work on 2-electron reduced density matrices was done by @matt-chan it seems:
    https://github.com/theochem/iodata/pull/23

It would be useful to be able to include 2DMs (total and spin-resolved) in IOData, however, for interfacing with CI-postprocessing methods and ChemTools DM analysis tools. In the near

[2021-10-15 14:31] BradenDKelly opened #282 "PDB load_one issue with atom type CL"
When reading in a dimer of Indomethacin, whose formula is C19H16ClNO4, the chlorine is interpreted as a carbon. The PDB being read in was generated using GROMACS and is at the bottom of the message. Atom 15 is chlorine.

When I load this pdb using `iodata` and output the atom numbers I get the following

[code]
So we can see that atom 15 (and atom 56) has been read in as a carbon atom. I am not su

[2021-10-19 00:47] BradenDKelly commented on #282
It is a surprising little problem that is not as easy to fix as it seems. It is unfortunate that often the last column is not present. In many ways that voids warranty. Because of the conundrum of proteins and other elements sharing the same abbrev, it makes it very difficult. Part of me certainly leans towards some kind of warning if that last column is missing with a note for the user sayimg to

[2022-02-16 16:48] PaulWAyers opened #287 "Compute electronic energy/gradient(force) in IOData"
For machine-learning of potential energy surfaces, we need the electronic energy and gradient, but many electronic structure theory packages return only the total energy (including nuclear-nuclear repulsion) and its gradient with respect to nuclear positions.

We should support reading the nuclear-nuclear repulsion energy where it is possible (e.g. Gaussian log file) and otherwise, add a field to

[2022-02-26 19:15] PaulWAyers opened #289 "Input writers for other quantum chemistry software"
Right now we, [in the spirit of Henry Ford](https://en.wikipedia.org/wiki/Ford_Model_T#Colors), support writing input files for any quantum chemistry software "as long as it is Gaussian." We have something for Orca, and probably @evohringer can judge better whether it is ready for prime time.

We need to think about how we can support programs, like Psi4 and PySCF, that primarily work as Python sc

[2022-05-31 12:35] nwoodweb commented on #269
Hi @PaulWAyers
I am currently working on this issue

While I do have a functioning 'load_one' at this moment, I am working to see how I can go about parsing charges from the atom block

[2022-06-03 15:35] nwoodweb commented on #269
@FarnazH

I wanted to inform you that I had passed the Roberto CI check and I will be making a pull request.
While I have implemented an `iodata/formats/mol.py` file, I have not implemented a test file that other format files had according to Roberto and I was wanting to know if I should also implement this.
![robertoMol-cropped](https://user-images.githubusercontent.com/60708568/171890266-e89f3c3

[2022-06-14 23:37] nwoodweb commented on #289
I can take a look at Psi4 and PySCF and their documentation to see how they accept inputs and then write back a general idea of how this could be accomplished.

[2022-06-29 14:28] tovrstra opened #291 "Install issue on Windows"
IOData didn't install on Windows. The workaround is to comment out line 56: "long_description=get_readme(),"

@PaulWAyers Can you paste the error message you get in a comment below? Thanks!

[2022-06-29 22:05] PaulWAyers commented on #291
Running command git clone -q https://github.com/theochem/iodata.git 'C:\Users\ayers\AppData\Local\Temp\pip-req-build-inrbvm34'
    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\ayers\anaconda3\envs\env_horton3\python.exe' -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\ayers\\AppData\\Local\\Temp\\pip-req-build-inrbvm34\\setup.py'"'"'; __file__=

[2022-07-10 16:37] PaulWAyers commented on #291
A similar issue happens in [`AtomDB`](https://github.com/theochem/AtomDB)